<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    Проект job4j_dreamjob
    <ul style="list-style-type: disc;"> <!-- square, circle, disc, none -->
        <li><a class="nav-item nav-link" th:href="@{/vacancies}"> Вакансии</a></li>
        <li><a class="nav-item nav-link" th:href="@{/candidates}">Кандидаты</a></li>
        <li><a class="nav-item nav-link" th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a class="nav-item nav-link" th:href="@{/candidates/create}">Создать резюме</a></li>
    </ul>
</div>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>